*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    background: #EDBB99;
}

main {
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* NavBar styling */
.time {
    float: right;
}

.score {
    float: left;
}

#nav {
    display: block;
    background-color: #FDEDEC;
    display: inline-block;
    width: 95vw;
    border: 3px solid #FFA07A;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.highscoreLink {
    text-decoration: none;
    color: black;
}
.highscoreLink:hover {
    text-decoration: underline;
    color: #FFA07A;
}

/* main content*/
#container {
    width: 700px;
    background-color: #F3E9D4;
    border-radius: 5px;
    padding: auto;
    box-shadow: 0 0 10px 2px;
    margin: auto;
}
#quizBody {
    text-align: center;
    justify-content: center;
    padding: 12vh;
    margin-top: 20px;
    padding: auto;
}
button {
    border: none;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 15px 15px 15px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #FFA07A;
}

h1 {
    font-weight: 100;
    padding: 5px;
}

h3 {
    font-weight: 80;
}